<!DOCTYPE html>
<html lang="en">



<%- include('partials/header'); -%>



    <label for="">
        <h2>LIBRARIAN SIGNUP</h2>
    </label>
    <fieldset class="signup">
        <form action="" class="std" method="post">
            <label for="email">Email</label>
            <input type="email" name="email" id="email">

            <label for="password">Password</label>
            <input type="password" name="password" id="password">

            <button type="submit" class="btn-4">Sign Up</button>
        </form>
    </fieldset>

    <%- include('partials/footer'); -%>