<%- include('partials/header'); -%>

    
        <h2>LIBRARIAN LOGIN</h2>
    
    <fieldset class="login">
        <form action="" class="std" method="post">
            <label for="email">Email</label>
            <input type="email" name="email" id="email">
            <label for="password">Password</label>
            <input type="password" name="password" id="password">
            <button type="submit">Login</button>
            <p>Dont have an account? <a href="/librarian/signup">Sign Up</a>
        </form>
    </fieldset>


    <%- include('partials/footer'); -%>